PlatformService/obj/PlatformService.csproj.nuget.dgspec.json
PlatformService/obj/PlatformService.csproj.nuget.g.props
PlatformService/obj/PlatformService.csproj.nuget.g.targets
PlatformService/obj/project.nuget.cache
PlatformService/obj/project.assets.json
/PlatformService/obj/Debug/net5.0
/PlatformService/.vs/PlatformService/v16
/PlatformService/.vs/PlatformService/DesignTimeBuild
/PlatformService/bin/Debug/net5.0
/PlatformService/obj/Debug/net6.0
/CommandsService/obj
/CommandsService/bin/Debug/net5.0
